<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your Order</title>
    
   
    <link rel="stylesheet" href="/Public/css/thanku.css" />
  </head>
  <body>
    <section class="container">
      <header><h1>THANK YOU!</h1></header>

      <main>
        <h3 style="text-align: center; opacity: 0.8;">Your details has been successfully sumbited.</h3>

        <h4 style="text-align: center; opacity: 0.7;">We'll reach you soon.....</h4>
      </main>
     
      
       <a href="/"> <button type="submit" > Back To Home Page</button> </a>
       
 
      </form>
    </section>
  </body>
</html>